h1 {
  text-align: center;
  color: red;
  background-color: aqua;
  border-radius: 8px;
  border-style: solid;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
 }
p {
  text-align: center;
 }
  
    
